<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HomePage"
        tools:targetApi="31">
        <activity
            android:name=".view.admin.manageuser.ManageUserAdminAddActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhiteAC"/>
        <activity
            android:name=".view.admin.manageuser.ManageUserAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhiteAC"/>
        <activity
            android:name=".view.admin.manageuser.editUser.EditUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:theme="@style/StatusBarWhiteAC"/>
<!--        <activity-->
<!--            android:name=".view.admin.manageuser.ManageUserAdminActivity"-->
<!--            android:exported="false"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/StatusBarWhiteAC"/>-->
        <activity
            android:name=".view.admin.detailEvent.DetailEventActivity"
            android:exported="false"
            android:theme="@style/StatusBarWhiteAC"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.admin.logcheck.EventAdmin"
            android:exported="false"
            android:theme="@style/StatusBarWhiteAC"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.admin.events.ListEventsAdmin"
            android:exported="false"
            android:theme="@style/StatusBarWhiteAC"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.main.HomePageAdmin"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.myEvent.LogCheckinCashier"
            android:exported="false"
            android:theme="@style/StatusBarWhiteAC"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.camera.CameraTenant"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.eventTenant.LogCheckinTenant"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhiteAC" />
        <activity
            android:name=".view.eventTenant.DetailEventTenant"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.eventTenant.ListEventTenant"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhiteAC" />
        <activity
            android:name=".view.login.LoginTenantActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhite"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.splashScreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarCremAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.myEvent.MyEvent"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarWhiteAC" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarCremAC" />
        <activity
            android:name=".view.main.HomePageCashier"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>